body {
    font-family: sans-serif;
    padding: 30px;
    background: #ededed;
}

.wrapper {
    max-width: 690px;
    margin: 0 auto;
}

.blue {
    color: #3f7abe;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #000380;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

#balloon-gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#balloon-gallery div {
    background: #ff3300;
    height: 121px;
    width: 119px;
    color: #ff3300;
    font-size: 40px;
    font-family: sans-serif, Arial;
    border-radius: 100%;
    margin: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgba(0, 0, 0, 0.3) 2px;
}

#balloon-gallery div:nth-child(3n) {
    background: #ffce00;
    color: #ffce00;
}

#balloon-gallery div:nth-child(3n-1) {
    background: #3f7abe;
    color: #3f7abe;
}

#balloon-gallery div:nth-child(5n) {
    background: #8e7a8e;
    color: #8e7a8e;
}

#yay-no-balloons {
    display: none;
    color: #ff3300;
    font-size: 100px;
    text-align: center;
}


